$accent-color: #FF4E50;
$bg: #f2f2f2;
$white: #ffffff;
$light: #e3e3e3;
$primary-text: #444444;
$secondary-text: #666666;
$light-gray: #999999;
$yellow: #FFA710;
$green: #19D4CA;
$purple: #667DF3;


// #cccccc
// #d4d4d4
// #667DF3;
// #19D4CA;
// #FFA710;
